<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="header">
            <div class="header-title">
                <a href="#"><span>Blue</span><span >Pink</span><span>.com</span></a>
            </div>
            <div class="header-menu">
                <a class="home" href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Blogs</a>
                <a href="#">Work</a>
                <a href="#">News</a>
                <a href="#">Contacts</a>
            </div>
        </div>
    </header>
    <div class="container">
        <div>
            <div class="left-column">
                <ul>
                    <li>Natus error sit voluptatem
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                    <li>Et veritatis quasi
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                    <li>Vitae dicta sunt explicabo
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                    <li>Nectun sed quia conseq
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                    <li>Natus error sit voluptatem                        
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                    <li>Vitae dicta sunt explicabo
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                    <li>Et veritatis quasi
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                    <li>Natus error sit voluptatem
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                    <li>Nesciunt siqui ipsam
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                    <li>Natus error sit voluptatem
                        <ul>
                            <li><a href="#">voluptatem #1</a></li>
                            <li><a href="#">voluptatem #2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="left-column">
                lorem safasfasfasfasfasfasfasfasf fffffffffffffffffffas asf asf asf asfasfsafasf afs asfasfsfsa asfa asfsfas afsfasf gdsg sdgsd gsdgsdgssdg
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <p>@@Footer content <a href="#">Link footer</a></p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
