@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="main-text-block">
        <h6>Lorem ipsum dolor sit amet, consectetur</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="#">Excepteur sint occaecat cupidatat non proident</a>, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="images">
        <h6>Images</h6>
        <div>
            <div>
                <img src="~/content/Images/Image.png" />
            </div>
            <div>
                <img src="~/content/Images/Image.png" />
            </div>
            <div>
                <img src="~/content/Images/Image.png" />
            </div>
        </div>
    </div>
    <div class="lists">
        <h6>Lists and Descriptions</h6>
        <div>
            <div class="list">
                <h6>Unordered list</h6>
                <ul>
                    <li>Sed ut perspiciatis unde omnis iste</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>At vero eos et accusamus et iusto</li>
                    <li>Et harum quidem rerum facilis</li>
                </ul>
            </div>
            <div class="list">
                <h6>Ordered list</h6>
                <ol>
                    <li>Sed ut perspiciatis unde omnis iste</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>At vero eos et accusamus et iusto</li>
                    <li>Et harum quidem rerum facilis</li>
                </ol>
            </div>
            <div class="list">
                <h6>Descriptions</h6>
                <ul>
                    <li>Sed ut perspiciatis unde omnis iste</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>At vero eos et accusamus et iusto</li>
                    <li>Et harum quidem rerum facilis</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table">
        <h6>Table</h6>
        <table>
            <thead>
                <tr>
                    <th>Lorem</th>
                    <th>Sed ut perspiciatis unde</th>
                    <th>Sed ut perspiciatis unde</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>At vero eos et</td>
                    <td>At vero eos et</td>
                    <td>At vero eos et</td>
                </tr>
                <tr>
                    <td>At vero eos et</td>
                    <td>At vero eos et</td>
                    <td>At vero eos et</td>
                </tr>
                <tr>
                    <td>At vero eos et</td>
                    <td>At vero eos et</td>
                    <td>At vero eos et</td>
                </tr>
                <tr>
                    <td>At vero eos et</td>
                    <td>At vero eos et</td>
                    <td>At vero eos et</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="forms">
        <h6>Forms</h6>
        <label>Text:</label>
        <input type="text" placeholder="input type text" />
        <label>Select:</label>
        <select>
            <option>Option</option>
        </select>
        <div>
            <input type="checkbox" />
            <label>Sed ut perspiciatis unde omnis iste natus</label>
        </div>
        <div>
            <input type="radio" />
            <label>Lorem ipsum dolor sit amet, consecteturs</label>
        </div>
        <label>Textarea:</label>
        <textarea></textarea>
        <button>Button</button>
    </div>
</div>
